<form class="well" name="signUpForm" ng-submit="submitUser()" novalidate>
  <div class="form-group">
    <label ng-class="{ errorlabel: submitted && signUpForm.dob.$invalid }">Play list name</label>
    <input ng-class="{ errorinput: submitted && signUpForm.dob.$invalid }" name="dob" class="form-control" type="text" name="name" ng-model="newlist.name" required/>
    <span style="clear: both; display: block; margin-left: 105px; padding:3px; color:red" ng-show="submitted && signUpForm.dob.$invalid">Song name cannot be empty</span>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" name="email" ng-model="newlist.desc" />
  </div>
  <div class="form-group">
    <label>Add Song</label>
    <input type="button" value="Add multiple songs" ng-click = "addSong($event)" class="btn btn-primary" />
    {{newlist.listOfSongs}}
  </div>
  <table class="table table-bordered table-striped table-reponsive">
    <thead>
    <tr class="title-table">
      <th><input type="checkbox" ng-checked="isSelectedAll"  ng-click="selectAll()" /></th>
      <th>Name</th>
      <th>Artist</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="song in songs">
      <td><input type="checkbox" ng-checked="song.isSelected" ng-click="selectSong(song)" /></td>
      <td>{{song.name}}</td>
      <td>{{song.artist}}</td>
      <td class="action"><a ng-click="add(song.id)"><span class="glyphicon glyphicon-edit"></span> Add one song</a></td>
    </tr>
    </tbody>
  </table>
  <br/>
  <input type="hidden" ng-model="newlist.id" />
  <input type="button" ng-show="templateObj.id === 'create'" value="Save" ng-click="saveSong()" class="btn btn-primary" />
  <input type="button" ng-show="templateObj.id === 'edit'" value="Edit" ng-click="saveSong()" class="btn btn-primary" />
  <input type="button"  value="Cancel" ng-click="mainSong()" class="btn btn-primary" />

</form>
