<form class="well" name="signUpForm" ng-submit="submitUser()" novalidate>
  <div class="form-group">
    <label ng-class="{ errorlabel: submitted && signUpForm.dob.$invalid }">Play list name</label>
    <input ng-class="{ errorinput: submitted && signUpForm.dob.$invalid }" name="dob" class="form-control" type="text" name="name" ng-model="newlist.name" required/>
    <span style="clear: both; display: block; margin-left: 105px; padding:3px; color:red" ng-show="submitted && signUpForm.dob.$invalid">Song name cannot be empty</span>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" name="email" ng-model="newlist.desc" />
  </div>
  <div class="form-group">
    <label>All song in Application</label>
    <md-button class = "md-primary md-raised" ng-click = "addSongEdit($event)" ng-disabled= "!isSelectAnyItemsFromEdit()"">Add multiple songs</md-button>
  </div>
  <table class="table table-bordered table-striped table-reponsive">
    <thead>
    <tr class="title-table">
      <th><input type="checkbox" ng-checked="isSelectedAllEdit"  ng-click="selectAllSongsEdit()" /></th>
      <th>Name</th>
      <th>Artist</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="song in listSongsEdit">
      <td><input type="checkbox" ng-checked="isSelectedSongEdit(song.id)" ng-click="selectSongEdit(song)" /></td>
      <td>{{song.name}}</td>
      <td>{{song.artist}}</td>
      <td class="action"><md-button class = "md-primary md-raised"  ng-click="addSongToListEdit(song.id)"><span class="glyphicon glyphicon-edit"></span> Add song to play list</md-button></td>
    </tr>
    </tbody>
  </table>
  <div class="form-group">
    <label>Song in play list</label>
    <md-button class = "md-primary md-raised" ng-click = "delSongEditAll($event)" ng-disabled= "!isSelectAnyItemsFromNew()">Remove multiple songs</md-button>
  </div>
  <table class="table table-bordered table-striped table-reponsive">
    <thead>
    <tr class="title-table">
      <th><input type="checkbox" ng-checked="isSelectedAllNewList"  ng-click="selectAllListSongs()" /></th>
      <th>Name</th>
      <th>Artist</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="song in newlist.listOfSongs">
      <td><input type="checkbox" ng-checked="isSelectedOneList(song.id)" ng-click="selectASongList(song)" ng-model="checkedNew"/></td>
      <td>{{song.name}}</td>
      <td>{{song.artist}}</td>
      <td class="action"><md-button class = "md-primary md-raised" ng-click="delSongEdit(song.id)"><span class="glyphicon glyphicon-edit"></span>Remove song play list</md-button></td>
    </tr>
    </tbody>
  </table>
  <br/>
  <md-button class = "md-primary md-raised hidden" ng-model="newlist.id" ></md-button>
  <md-button class = "md-primary md-raised" ng-show="templateObj.id === 'edit'" ng-click="editPlayList(list)">Edit</md-button>
  <md-button class = "md-primary md-raised" ng-click="mainPlayList()" >Cancel</md-button>

</form>
