<form class="well" name="signUpForm" ng-submit="submitUser()" novalidate>
  <div class="form-group">
    <label ng-class="{ errorlabel: submitted && signUpForm.dob.$invalid }">Song name</label>
    <input ng-class="{ errorinput: submitted && signUpForm.dob.$invalid }" name="dob" class="form-control" type="text" name="name" ng-model="newsong.name" required/>
    <span style="clear: both; display: block; margin-left: 105px; padding:3px; color:red" ng-show="submitted && signUpForm.dob.$invalid">Song name cannot be empty</span>
  </div>
  <div class="form-group">
    <label>Artist</label>
    <input class="form-control" type="text" name="email" ng-model="newsong.artist" />
  </div>
  <br/>
  <md-button class = "md-primary md-raised hidden" ng-model="newsong.id"></md-button>
  <md-button class = "md-primary md-raised" ng-show="templateObj.id === 'create'" ng-click="saveSong(true)" >Save</md-button>
  <md-button class = "md-primary md-raised" ng-show="templateObj.id === 'edit'"  ng-click="saveSong(false)" >Edit</md-button>
  <md-button class = "md-primary md-raised"  ng-click="mainSong()" >Cancel</md-button>

</form>
