<div class="jumbotron">
  <h1>'Hello Angular!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    This is Music manage application by for me.
    You can chose <a ng-href="#!/song">Songs</a> or <a ng-href="#!/playlist">Play List</a> by button below
  </p>
</div>

<div class="row marketing">
  <div class="col-md-6">
    <figure>
      <a ng-href="#!/song">
        <h4>Songs</h4>
        <p>
          You can create or edit, delete list Song.
        </p>
      </a>
    </figure>
  </div>
  <div class="col-md-6">
    <figure>
      <a ng-href="#!/playlist">
        <h4>Playlist</h4>
        <p>
          You can create or edit, delete list Playlist.
        </p>
      </a>
    </figure>
  </div>
</div>
