
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{bread}}</li>
  </ol>
</nav>
<div class="tool-manage">
  <h1 class="title-manage">Manage Songs</h1>
  <div class="tool-main">
    <div class="add-song"><button><span class="glyphicon glyphicon-plus"></span> Add</button></div>
    <div class="detele-song"><button ng-click="removeSelectedRows()"><span class="glyphicon glyphicon-trash"></span> Detele</button></div>
    <div class="search-song"><button><span class="glyphicon glyphicon-search"></span> Search</button></div>
  </div>
</div>
<form class="well">
  <label>Name</label>
  <input type="text" name="name" ng-model="newsong.name" />
  <label>Artist</label>
  <input type="text" name="email" ng-model="newsong.artist" />
  <br/>
  <input type="hidden" ng-model="newsong.id" />
  <input type="button" value="Save" ng-click="saveSong()" class="btn btn-primary" />
</form>
<table class="table table-bordered">
  <thead>
  <tr>
    <th><input type="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()" /></th>
    <th>Name</th>
    <th>Artist</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="song in songs">
    <td><input type="checkbox" ng-model="m.Selected" ng-change="CheckUncheckHeader()"/></td>
    <td>{{song.name}}</td>
    <td>{{song.artist}}</td>
    <td><button ng-click="edit(song.id)"><span class="glyphicon glyphicon-edit"></span> Edit</button><button ng-click="delete(song.id)"><span class="glyphicon glyphicon-trash"></span> Detele</button></td>
  </tr>
  </tbody>
</table>
