<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>
<div class="tool-manage">
  <h1 class="title-manage">Manage Songs</h1>
  <div class="tool-main">
    <div class="add-song"><button><span class="glyphicon glyphicon-plus"></span> Add</button></div>
    <div class="detele-song"><button><span class="glyphicon glyphicon-trash"></span> Detele</button></div>
    <div class="search-song"><button><span class="glyphicon glyphicon-search"></span> Search</button></div>
  </div>
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th><input type="checkbox"></th>
    <th>Name</th>
    <th>Artist</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input type="checkbox"></td>
    <td>Radioactive</td>
    <td>Imagine Dragon</td>
    <td><button><span class="glyphicon glyphicon-edit"></span> Edit</button><button><span class="glyphicon glyphicon-trash"></span> Detele</button></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td>Rolling in the deep</td>
    <td>Adele</td>
    <td><button><span class="glyphicon glyphicon-edit"></span> Edit</button><button><span class="glyphicon glyphicon-trash"></span> Detele</button></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td>Uninstall</td>
    <td>Chiaki Isikawa</td>
    <td><button><span class="glyphicon glyphicon-edit"></span> Edit</button><button><span class="glyphicon glyphicon-trash"></span> Detele</button></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td>Viva la vida</td>
    <td>Coldplay</td>
    <td><button><span class="glyphicon glyphicon-edit"></span> Edit</button><button><span class="glyphicon glyphicon-trash"></span> Detele</button></td>
  </tr>
  </tbody>
</table>
